@import url('https://fonts.googleapis.com/css?family=Damion|Lato:300,400');

body {
	font-family: arial, sans-serif;
	color: #fff;
	background: #75b4aa;
	font-size: 14px;
	line-height: 1.3;
	min-width: 320px;
}

.container {
	margin: 0 auto;
	min-width: 320px;
	max-width: 1160px;
}
header {
	overflow: hidden;
}
.logo {
	font-family: 'Damion', cursive;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	display: block;
	float: left;
	margin: 30px;
}
.menu__top {
	list-style: none;
	display: block;
	float: right;
	margin-top: 6px;
}
.menu__top li {
	display: inline-block;
	width: 100px;
	height: 80px;
	margin-right: 24px;
	box-sizing: border-box;
	text-align: center;
}
.menu__top li a {
	display: block;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #fff;
	padding: 26px 16px 28px 14px;
}
.menu__top li:hover > a {
	background: #82c8bd;
	border-radius: 4px;
}
.main-block {
	margin: 0 auto;
	text-align: center;
}
.main-block__title {
	margin: 0 auto 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 60px;
	line-height: 58px;
	text-transform: uppercase;
}
.main-block__txt {
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Lato', sans-serif;
}
.contact-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.address-block {
	width: 48%;
}
.form-block {
	width: 52%;
}
.info-block__title {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-align: left;
	padding-left: 20px;
}

.contact-block {
	margin-bottom: 60px;
	overflow: hidden;
}
.contact-details {
	float: left;
	width: 50%;
	box-sizing: border-box;
	border: 1px solid red;
}
.map-block {
	/*width: 260px;*/
	float: left;
	width: 50%;
	height: 220px;
	box-sizing: border-box;
	border: 1px solid red;
}

.form-questions__row {
	width: 100%;
}
.form-questions__row--input {
	display: inline-block;
	width: 260px;
	height: 40px;
	background: #68a097;
	border-radius: 3px;
	border: none;
	padding: 0 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.form-questions__row--input:not(:last-child){
	margin-right: 16px;
	margin-left: 10px;
}
.form-questions__row--name {

}
.form-questions__row--email {

}
.form-questions__textarea {
	max-width: 540px;
	width: 100%;
	height: 159px;
	background: #68a097;
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: none;
	padding: 5px;
	box-sizing: border-box;
	resize: none;
}
.btn {
	display: block;
	width: 260px;
	height: 50px;
	background: #df5c64;
	margin: 0 auto;
}
footer {
	height: 150px;
	background: #68a097;
}
.social-block {
	margin: 0 auto;
	text-align: center;
}
.social-block__icon {
	display: inline-block;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background: #82c7bc;
	margin: 40px 20px 0;
}