@import url('https://fonts.googleapis.com/css?family=Damion|Lato:300,400,900');

body {
	font-family: 'Lato', arial, sans-serif;
	color: #fff;
	background: #75b4aa;
	font-size: 14px;
	line-height: 1.3;
	min-width: 320px;
}

.container {
	margin: 0 auto;
	min-width: 320px;
	max-width: 1160px;
	padding: 0 20px;
	box-sizing: border-box;
}
header {
	overflow: hidden;
	margin-bottom: 85px;
}
.logo {
	font-family: 'Damion', cursive;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	display: block;
	float: left;
	margin: 14px 30px 30px;
}
.menu {
	float: right;
}
.menu__top {
	list-style: none;
	display: block;
	margin-top: 6px;
}
.menu__top li {
	display: inline-block;
	width: 100px;
	height: 80px;
	margin-right: 2px;
	box-sizing: border-box;
	text-align: center;
}
.menu__top li a {
	display: block;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	padding: 26px 16px 28px 14px;
}
.menu__top li:hover > a {
	background: #82c8bd;
	border-radius: 4px;
}
.main-block {
	margin: 0 auto 82px;
	text-align: center;
}
.main-block__title {
	margin: 0 auto 22px;
	font-weight: 300;
	font-size: 60px;
	line-height: 58px;
	text-transform: uppercase;
}
.main-block__txt {
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.contact-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.info-block.address-block {
	width: 48%;
}
.info-block.form-block {
	width: 52%;
	box-sizing: border-box;
	padding: 0 0 0 10px;
}
.info-block__title {
	font-weight: 300;
	font-size: 30px;
	text-align: left;
	padding-left: 37px;
}
.contact-block {
	margin-bottom: 81px;
	overflow: hidden;
}
.contact-details {
	float: left;
	width: 50%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.address-details {
	margin: 0;
	padding: 0 0 0 38px;
}
.address-details p {
	margin: 0;
}
.address-details__country--name {
	color: #c0dfda;
	font-size: 20px;
	font-weight: 400;
}
.address-details__country {
	margin-bottom: 71px;
}
.address-details__call--label {
	color: #d0efea;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	width: 70px;
	display: inline-block;
}
.address-details__call--mail {
	color: #fff;	
}
.map-block {
	max-width: 260px;
	float: left;
	height: 220px;
	box-sizing: border-box;
}
.form-questions {
	padding-left: 20px;
}
.form-questions__row {
	max-width: 260px;
	width: 100%;
	display: inline-block;
	margin: 0 0 0 11px;
}
.form-questions__row--input {
	display: inline-block;
	width: 260px;
	height: 40px;
	background: #68a097;
	border-radius: 3px;
	border: none;
	padding: 0 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	color: #7bbeb3;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 16px;
}
.form-questions__row--input::-webkit-input-placeholder {
	color: #7bbeb3;
}
.form-questions__row--input::-moz-placeholder {
	color: #7bbeb3;
}
.form-questions__row--input:focus {
	background: #fff;
}
.form-questions__row--input.active {
	border: 1px solid green;
	font-size: 11px;
	color: #000;
}
.form-questions__row--input.error {
	border: 1px solid red;
	font-size: 11px;
	background: #fff;
}
.form-questions__row--input.error::placeholder {
	color: red;
}
.form-questions__row--input:not(:last-child){
	margin-right: 16px;
	margin-left: 10px;
}
.form-questions__textarea {
	max-width: 540px;
	width: 100%;
	height: 159px;
	background: #68a097;
	margin-left: 10px;
	margin-bottom: 25px;
	border-radius: 3px;
	border: none;
	padding: 10px;
	box-sizing: border-box;
	resize: none;
	color: #7bbeb3;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 16px;
}
.form-questions__textarea:focus {
	background: #fff;
}
.btn {
	display: block;
	width: 260px;
	height: 50px;
	background: #df5c64;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(178, 74, 80, 0.5);
	-moz-box-shadow:    inset 0px -5px 0px 0px rgba(178, 74, 80, 0.5);
	box-shadow:         inset 0px -5px 0px 0px rgba(178, 74, 80, 0.5);
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 900;
	text-transform: uppercase;
}
.btn:active {
	border: 1px solid #ccc;
}
footer {
	height: 150px;
	background: #68a097;
}
.social-block {
	margin: 0 auto;
	text-align: center;
}
.social-block__icon {
	display: inline-block;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background: #82c7bc;
	margin: 39px 0 0 35px;
}
.social-block__icon a {
	display: block;
	width: 100%;
	height: 100%;
}
.social-block__icon--fb a {
	background: url(../img/ic_facebook.svg);
  background-size: 62px 62px;
  background-repeat: no-repeat;
}
.social-block__icon--tw a {
	background: url(../img/ic_twitter.svg);
	background-size: 62px 62px;
  background-repeat: no-repeat;
}
.social-block__icon--gplus a {
	background: url(../img/ic_google_plus.svg);
	background-size: 62px 62px;
  background-repeat: no-repeat;
}
.social-block__icon--linked a {
	background: url(../img/ic_linkedin.svg);
	background-size: 62px 62px;
  background-repeat: no-repeat;
}